.welcome {
  padding: 20px
}

.welcome header {
  position: relative;
  width: 100%;
  padding: 10px;
  background-color: #333333;
  border-radius: 20px;
  color: #fff;
}

.welcome header p {
  padding: 5px 10px;
  margin: 0;
  font-size: 20px;
  font-style: italic;
  display: inline-block;
}

.welcome header p span {
  padding: 5px 10px;
  margin: 0;
  font-style: normal;
  font-weight: bold;
}

.welcome header .logout {
  float: right;
  background-color: transparent;
  border: none;
  color: #f30000;
  border-bottom: 1px solid #f30000;
  font-size: 18px;
  padding: 0 0 5px 0;
  margin: 5px 10px;
}

.welcome .posts {

}

.welcome .posts ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.welcome .posts ul li {
  flex: 22%;
  margin: 30px 2%;
  padding: 15px;
  box-shadow: 0 3px 5px 5px rgba(0, 0, 0, 0.05);
}

.welcome .posts h5 {
  font-size: 18px;
  position: relative;
  padding-left: 10px;
}

.welcome .posts h5::before {
  content: '';
  width: 2px;
  height: 100%;
  background-color: #333333;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.welcome .posts p {

}

